.GeneratedTextBox{
    position: absolute;
    color:white;
    width: min(50vw,800px);
    height: min(30vw,300px);
    border-radius: 10px;
    top:0;
    left:0;
    font-size: 1.2rem;
    padding: 10px;
}
.current-word{
    font-size: 1.5rem;
}
.Completed{
    color:green;
}
.Letter{
    color:whitesmoke;
}
.Wrong{
    color:red;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: underline;

}
.to-be-typed{
    font-size: 1.7rem;
    text-decoration: underline;
    
}