.TypingForm{
    width: min(70vw,800px);
    height: min(30vw,300px);
    display: block;
    margin: auto;
    top:0px;

    margin-top: 50px;
    transition: 0.15s;
    position: relative;
    border-radius: 10px;
    margin-bottom: 50px;
   padding: 0px;
   text-align: justify;
   color:white;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.TypingForm button{
  
    border: none;
    outline: none;
    position: relative;
    top:-10%;
    color:whitesmoke;
    font-size: 20px;
    transition: 0.15s;   overflow: hidden;
    background-color: black;
    display: flex;
}
.TypingForm button:hover{
    color:#fca311;
    transform: scale(1.2);
}
.TypingForm:hover{

}
.TextArea:focus{
    background-color: aliceblue;
    box-sizing: content-box;
    outline:none;
}

.TextArea{
    border-radius: 10px;
    font-size: 2rem;
    width: 100%;
    height: 100%;
   top:0;
   left: 0;
   padding: 10px;
    color:black;
    position: relative;
    padding: 10px;
    opacity: 0.1;
    cursor:default;
    border: none;
    line-height: normal;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
    word-spacing: normal;
    font-family: Verdana, Geneva, sans-serif;
                font-size:20px;
                display: block;
    overflow:hidden ;
 

}
textarea{
    background-color: none;
    color:white;
    overflow: hidden;

}
.TextArea:focus{

}
.TypingForm input{
    background-color: var(--primary-card-bg);
    overflow: hidden;
}
#wordsInput{
    overflow: hidden;
}
.typing-container{

    display: flex;
    margin:auto;
    margin-top: 50px;
    width: min(80vw,1000px);
    border-radius: 0.3rem;
    height: fit-content;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: min(80vw,800px);

}
#wordsInput:focus{
    background-color: black;

}
.Timer{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}