.Container{
border-radius: 10px;
box-shadow: 0 5px 8px #1f2439 inset;
width: min(80vw,1000px);
padding: 10px;
overflow: auto;
font-size: 20px;
color:white;
margin: auto;
background-color:rgba(240, 240, 240, 0.2);
z-index: 50;
margin-top: 100px;
transition: 0.15s;
}
.Container:hover{
    transform: scale(1.1);
}