.CardElement{
    display: block;
    color:black;
}
.CardHeader{
    display: block;
    color:black;
    font-weight: 900;

}
.Card{
    background-color: rgb(240,240,240,0.7);
    border-radius: 5px;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    opacity: 0.8;
}