.gauge {
    position: relative;
    border-radius: 50%/100% 100% 0 0;
    background-color: var(--accent-color);
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: background-color 0.15s ease-in-out;
    padding:0rem;
}

.gauge-2 {
    background-color: rgb(0, 166, 255);
    transition: background-color 0.15s ease-in-out;
   

}

.gauge:before {
    content: "";
    display: block;
    padding-top: 50%;   /* ratio of 2:1*/
}

.gauge .chart {
    overflow: hidden;
}

.gauge .mask {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 0;
    top: 20%;
    background-color: var(--primary-card-bg);
    border-radius: 50%/100% 100% 0 0;
    opacity: 1;
    transition: transform 0.15s ease-in-out;
    
}

.gauge .percentage {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: 0;
    right: -1px;
    background-color: var(--background, #fff);
    transform: rotate(var(--rotation));
    transform-origin: bottom center;
    transition: transform 0.15s ease-in-out;
    --rotation: 180deg;
}

.gauge:hover {
    --rotation: 100deg;
}

.gauge .value {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    text-align: center;
    transition: transform 0.15s ease-in-out;
}

.gauge .min {
    position: absolute;
    bottom: 0;
    left: 5%;
}

.gauge .max {
    position: absolute;
    bottom: 0;
    right: 5%;
}

.guage {
    width: 200px;
    --rotation: 90deg;
    --color: #5cb85c;
    --background: #e9ecef;
    transition: transform 0.3s ease-in-out;
    margin:1rem;
  
}
.widget{
    margin:2rem;
    padding:1rem;
}
.header{
    margin:1rem
}