.WordsToggler{
    padding: 20px;
    font-size: 20px;
    
    display:inline;
}
.WordsToggler ul{
    text-decoration: none;
    display: inline;
}
.ToggleElement{
    color: var(--accent-color);
    display: inline-flex;
    padding: 0.25em 1em;
   transition: 0.15s;
   margin-right: 10px;
   border-radius: 0.2rem;
  
}
.ToggleElement:hover,.ToggleElement:focus{
   background-color: var(--accent-color);
   color:white;
   transform:translateY(-10px)

}
 .Active{
    background-color: var(--accent-color);
   color:white;
 }