.NavBar{

    font-size:22px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 4px;
 
    color:var(--accent-color);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position:relative;
    font-weight: bold;
    top:0;
    margin:0;
    left:0;
    margin-bottom: 5rem;
}

.DarkModeIcon{
    font-size:20px;

}

.NavBar ul{
    text-decoration: none;
    display: inline;
}
.NavbarElement{
    text-decoration: none;
    padding: 0.25em 1em;
    display: inline;
    color:whitesmoke;
    transition: 0.15s;

    vertical-align: middle;
}


:root{
    --primary-nav :black;
    --secondary-text: #f5cac2;
    --secondary-nav : #8763ff;
    --primary-color : #303179;
    --primary-color-50 : rgb(48, 49, 121,0.5);
    --secondary-color : rgb(20, 24, 80);
    --main-bg : #ededed;
    --secondary-nav-50 : rgb(48, 0, 193,0.5);;
    --secondary-color-50 : rgb(20, 24, 80,0.5);
    --navtext:white;
    --navtext-alt :#8763ff;
    --card-bg : rgb(247, 247, 255,0.5);
    --primary-text : whie;
    --card-hover: #ff1600;
    --accent-color: #8763ff;
    --primary-card-bg: #1F2124;;
    
  }
  html{
    background-color: black;
    margin:0;padding:0;
  }
#root{
    top:0;
    margin:0;
    left:0;
    margin:0;padding:0;
}
body{
    margin:0;padding:0;
}
.first{
    color:white;
}
.second{
    color:var(--accent-color);
}

* li{
    list-style-type:none;
}