.NavBar{
    font-size:20px;
    margin: auto;
    background-color: #000000;
    width: 100%;
    color:whitesmoke;
    box-shadow: 0 3px 4px black;
    padding: 20px;
    display: block;
}
.DarkModeIcon{
    font-size:20px;

}

.NavBar ul{
    text-decoration: none;
    display: inline;
}
.NavbarElement{
    text-decoration: none;
    padding: 0.25em 1em;
    display: inline;
    color:whitesmoke;
    transition: 0.15s;

    vertical-align: middle;
}
.header{
    text-decoration: none;
    padding: 0.25em 1em;
    display: inline;
    color:whitesmoke;
    float:left;
    vertical-align: middle;
}
.NavbarElement:hover,.NavbarElement:focus{
    color:#900020;
    transform: scale(1.2);


}
 